  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
  }
  body > .container {
    padding-top: 60px;
  }
  .padded {
    padding-top: 30px
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 0.1%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #708090;
    padding-top: 10px;
  }
